<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form [formGroup]= "employeedetails" (ngSubmit)="onSubmit()">         
            <div class="row mt-4 justify-content-center">
                <h1 class="page-title text-center">Employee Details</h1>  
                
                <div class="col-md-4 sub-container">
                    <mat-form-field appearance="outline">
                                <mat-label>Employee ID</mat-label>
                                <input matInput  name="empId" formControlName="empId" [(ngModel)]="employee.empId">
                                <mat-icon matSuffix>perm_identity </mat-icon>
                                <mat-hint style="color: red;" *ngIf="(EmployeeID.touched || EmployeeID.dirty ) && EmployeeID.errors">
                                <span *ngIf="EmployeeID.errors?.['required']">please enter EmployeeID</span>
                                </mat-hint>
                    </mat-form-field>
                
                    
                   
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" formControlName="email" [(ngModel)]="employee.email">
                        <mat-icon matSuffix> alternate_email </mat-icon>
                        <mat-hint style="color: red;" *ngIf="(EmailAddress.touched || EmailAddress.dirty ) && EmailAddress.errors">
                        <span *ngIf="EmailAddress.errors?.['required']">please enter Email Address</span>
                        
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Group Description</mat-label>
                        <mat-select  name="groupDescription" formControlName="groupDescription" [(ngModel)]="employee.groupDescription">
                            <mat-option value="{{grp.groupdesc}}" *ngFor="let grp of groupdesc">{{grp.groupdesc}}</mat-option> 
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(GroupDescription.touched || GroupDescription.dirty ) && GroupDescription.errors">
                            <span *ngIf="GroupDescription.errors?.['required']">please select Group Description</span>
                        </mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Profile</mat-label>
                            <mat-select name="profile" formControlName="profile"  [(ngModel)]="employee.profileEmployee" multiple>
                              <mat-select-trigger>
                                {{Profile.value?.[0] || ''}}
                                <span *ngIf="(Profile.value?.length || 0) > 1" class="example-additional-selection">
                                  +{{(Profile.value?.length || 0) - 1}} {{Profile.value?.length === 2 ? 'other' : 'others'}}
                                </span>
                              </mat-select-trigger>
                              <mat-option *ngFor="let pro of profileList" [value]="pro.profileId">{{pro.profile}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                </div>
                <div class="col-md-4 sub-container">


                    <mat-form-field appearance="outline">
                        <mat-label>Employee Name</mat-label>
                        <input matInput name="fullName" formControlName="fullName" [(ngModel)]="employee.fullName">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-hint style="color: red;" *ngIf="(EmployeeFullName.touched || EmployeeFullName.dirty ) && EmployeeFullName.errors">
                        <span *ngIf="EmployeeFullName.errors?.['required']">please enter Name</span>
                        </mat-hint>
                    </mat-form-field>
                        

                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput  name="password" formControlName="password" [(ngModel)]="employee.password">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-hint style="color: red;" *ngIf="(Password.touched || Password.dirty ) && Password.errors">
                        <span *ngIf="Password.errors?.['required']">please enter Password</span>
                        </mat-hint>
                    </mat-form-field> -->
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input matInput  name="empPhone" formControlName="empPhone" [(ngModel)]="employee.empPhone"  pattern="[0-9]{10}" minlength="10"  required>
                        <mat-icon matSuffix> contact_phone </mat-icon>
                        <mat-hint style="color: red;" *ngIf="(ContactNumber.touched || ContactNumber.dirty ) &&
                        ContactNumber.errors">
                        <span *ngIf="ContactNumber.errors?.['pattern'] ">please enter 10 digits number only</span>
                        <span *ngIf="ContactNumber.errors?.['required']">please enter contact number</span>
                        <span *ngIf="(ContactNumber.errors?.['minlength']) "></span>
                        </mat-hint>
                    </mat-form-field>

                    
                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="employee.active" name="active" formControlName="active">
                        <mat-option *ngFor="let e of status" [value]="e.value">{{e.viewValue}}
                        </mat-option>
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Active.touched || Active.dirty ) && Active.errors">
                            <span *ngIf="Active.errors?.['required']">please enter Status</span>
                        </mat-hint>
                    </mat-form-field>

                    
                </div>
                <div class="row justify-content-center mt-3">
                    <button type="submit" class="btn btn-sm px-4 py-2  w-auto  text-white" [style.background-color]="'#124265'">Update</button>
                    <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto text-white btn-secondary "  onclick="history.back()">Back</button>
                </div> 
            </div>
        </form>
    </div>
</section>

