<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form [formGroup]= "updateDepartmentDetails" (ngSubmit)="updatedepartmentDetails()">         
            <div class="row mt-5 justify-content-center">
                <h1 class="page-title text-center">Department Details</h1>  
                <div class="col-md-4 sub-container mt-2">
                    <mat-form-field appearance="outline">
                                <mat-label>Department</mat-label>
                                <input matInput  name="department" formControlName="department" [(ngModel)]="department.department">
                                <mat-icon matSuffix>location_city</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(Department.touched || Department.dirty ) && Department.errors">
                                <span *ngIf="Department.errors?.['required']">please enter Department</span>
                                </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="department.active" name="active" formControlName="active">
                        <mat-option *ngFor="let e of status" [value]="e.value">{{e.viewValue}}
                        </mat-option>
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Active.touched || Active.dirty ) && Active.errors">
                            <span *ngIf="Active.errors?.['required']">please enter Status</span>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="row justify-content-center mt-3">
                    <button type="submit" class="btn btn-sm px-4 py-2  w-auto text-white"  [style.background-color]="'#124265'" >Update</button>
                    <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto text-white  btn-secondary" onclick="history.back()">Back</button>
                </div> 
            </div>
        </form>
    </div>
</section>
