<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
         
        <div class="row mt-3 justify-content-start">
            <h1 class="page-title text-center ">Department Profile Mapping</h1> 
            
            <div class="col-md-6">
                <button mat-raised-button [routerLink]="['/department-profile-details']" [style.background-color]="'#124265'" class="text-white">Create Mapping</button>
            </div>
            <div class="col-md-6 text-end">
                <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort [style]="{'background':'transparent'}">

                <!-- Department Column -->
                <ng-container matColumnDef="departmentId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                <td mat-cell *matCellDef="let row"> {{row.department}} </td>
                </ng-container>

                <!-- Profile Column -->
                <ng-container matColumnDef="profileId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
                    <td mat-cell *matCellDef="let row"> {{row.profile}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row text-center" *matNoDataRow>
                <td class="mat-cell" colspan="2">No data matching the filter "{{input.value}}"</td>
                </tr>

                  <!-- Edit and Delete Column. -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                    <!-- <button (click) = "updateDepartmentProfileDetails(row.departmentProfileId)" mat-icon-button style="color: #124265;">
                    <mat-icon matSuffix>edit</mat-icon>
                    </button> -->

                    <div *ngIf="row.active=='Y'" class="gap-2">
                        <mat-icon aria-hidden="false" style="font-size: 3vh; color:#124567" 
                        (click)="updateDepartmentProfileDetails(row.departmentProfileId)" aria-label="Active" fontIcon="home" matTooltip="Edit Department Profile"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="Active"
                        class="text-success ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                     </div>
                    <div *ngIf="row.active=='N'">
                        <mat-icon aria-hidden="false" style="font-size: 3vh; color:#124567"
                        (click)="updateDepartmentProfileDetails(row.departmentProfileId)" aria-label="Active" fontIcon="home" matTooltip="Edit Department Profile"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="In-Active"
                        class="text-danger ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                    </div>
            
                    </td>
                </ng-container >
            </table>
            <mat-paginator 
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            [pageIndex]="pageIndex"
            aria-label="Select page"></mat-paginator>
        </div>
    </div>
</section>


