.sub-container {
    display: flex;
    flex-direction: column;
    
}

.mat-form-field-appearance-legacy.mat-form-field-readonly .mat-form-field-underline {
	background-color: rgba(127, 127, 127, 0.25);
}

ngb-rating {
    font-size: 30px;
    color:rgb(241, 62, 92);
  }
  
.searchable_field{
    width:95%;
}