<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        <div class="row justify-content-start  mt-3">
            <h1 class="page-title text-center">Agreement Master</h1> 
            <div class="col-md-6">
                <button mat-raised-button [routerLink]="['/agreement']" class="text-white" [style.background-color]="'#124265'"> Create Agreement</button>
            </div>
            <div class="col-md-6 text-end">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort [style]="{'background':'transparent'}"> 
                <ng-container matColumnDef="agreement">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement</th>
                    <td mat-cell *matCellDef="let row">{{row.agreement}}</td>
                </ng-container> 

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                    <!-- <button (click) = "updateAgreementList(row.agreementId)" mat-icon-button style="color: #124265;">
                    <mat-icon matSuffix>edit</mat-icon>
                    </button> -->
                    <div *ngIf="row.active=='Y'" class="gap-2">
                        <mat-icon aria-hidden="false" style="font-size: 3vh;" 
                        (click)="updateAgreementList(row.agreementId)" aria-label="Active" fontIcon="home" matTooltip="Edit Agreement"
                        class="text-btn">edit</mat-icon>
                        
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="Active"
                        class="text-success ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                        </div>
                        <div *ngIf="row.active=='N'">
                        <mat-icon aria-hidden="false" style="font-size: 3vh;"
                        (click)="updateAgreementList(row.agreementId)" aria-label="Active" fontIcon="home" matTooltip="Edit Agreement"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="In-Active"
                        class="text-danger ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                    </div>
                    </td>
                </ng-container >
            </table>
            <mat-paginator 
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            [pageIndex]="pageIndex"
            aria-label="Select page"></mat-paginator>
         </div>
    </div>
</section> 

