
<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        <div class="row justify-content-start  mt-3">
            <h1 class="page-title text-center">Mode Information Details</h1> 
            <div class="col-md-6">
                <button mat-raised-button [routerLink]="['/interview-info']" class="text-white" [style.background-color]="'#124265'"> Create New Mode</button>
            </div>
            <div class="col-md-6 text-end">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort [style]="{'background':'transparent'}"> 
                <ng-container matColumnDef="modeNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Interview Mode type</th>
                    <td mat-cell *matCellDef="let row">{{row.modeType}}</td>
                    </ng-container> 

                <ng-container matColumnDef="videoLinkDetails">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Link Details</th>
                    <!-- <td mat-cell *matCellDef="let row"> {{row.videoLinkDetails}}</td> -->
                   <td mat-cell *matCellDef="let row"><button (click) = "openLink(row.interviewId)" mat-icon-button  color="primary">
                    <mat-icon matSuffix>link</mat-icon>
                    </button>
                   </td> 
                   
                </ng-container>

              

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                    <button (click) = "updateInterviewInformation(row.interviewId)" mat-icon-button style="color: #124265;">
                    <mat-icon matSuffix>edit</mat-icon>
                    </button>
                    <!-- <button (click) = "deleteInterviewInformation(row.interviewId)" mat-icon-button  color="warn">
                    <mat-icon matSuffix>delete</mat-icon>
                    </button> -->
                    </td>
                </ng-container >
            </table>
            <mat-paginator [pageSizeOptions]="[10,20]" aria-label="Select Mode Information"></mat-paginator>
         </div>
    </div>
</section> 
