<div class="card-header example-full-width  backg">
    <h4 class="card-title"><mat-icon>comment</mat-icon>&nbsp;&nbsp;Feedback</h4>
</div>
<mat-dialog-content class="mat-typography mt-3">
    <form [formGroup]= "interviewSchedules">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Schedule Id</th>
                <th scope="col">Candidate Unique Number</th>
                <th scope="col">Candidate</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{{scheduledInterviewId}}</td>
                  <td>{{candidateUniqueNumber}}</td>
                  <td>{{candidateFullName}}</td> 
                  <td> <button (click) = 'feedbackUpdate(scheduledInterview.scheduledInterviewId)' mat-button [ngStyle]="{'color':'green'}" mat-dialog-close><mat-icon>done_all</mat-icon></button></td>
              </tr>
              </tbody>
          </table>
        <mat-form-field appearance="outline" class="example-full-width mt-1">
            <mat-label>Feedback</mat-label>
            <textarea matInput name="hrFeedback" formControlName="hrFeedback"  [(ngModel)]="scheduledInterview.hrFeedback"></textarea>
            <!-- <mat-icon matSuffix>view_list</mat-icon> -->
            <mat-hint style="color: red;" 
                    *ngIf="(HRFeedback.touched || HRFeedback.dirty ) && HRFeedback.errors">    
                <span *ngIf="HRFeedback.errors?.['required']">please mention the Feedback</span>
            </mat-hint>
        </mat-form-field>
         
    </form>
</mat-dialog-content>