<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form [formGroup]= "createDepartmentDetails" (ngSubmit)="departmentprofileDetails()">         
            <div class="row mt-5 justify-content-center">
                <h1 class="page-title text-center">Department Profile Mapping</h1>  
                <div class="col-md-4 sub-container">
                    <mat-form-field appearance="outline">
                                <mat-label>Department</mat-label>
                                <mat-select  name="department" formControlName="department" [(ngModel)]="departmentprofile.departmentId">
                                    <mat-option value='{{item.departmentId}}' *ngFor="let item of department">{{item.department}}</mat-option> 
                                </mat-select>
                                <mat-icon matSuffix>location_city</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(Department.touched || Department.dirty ) && Department.errors">
                                <span *ngIf="Department.errors?.['required']">please enter Department</span>
                                </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Profile</mat-label>
                        <mat-select  name="profile" formControlName="profile" [(ngModel)]="departmentprofile.profileId">
                        <mat-option value='{{item.profileId}}' *ngFor="let item of profile">{{item.profile}}</mat-option> 
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Profile.touched || Profile.dirty ) && Profile.errors">
                            <span *ngIf="Profile.errors?.['required']">please select Profile</span>
                        </mat-hint>
                    </mat-form-field> 
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="departmentprofile.active" name="active" formControlName="active">
                        <mat-option *ngFor="let e of status" [value]="e.value">{{e.viewValue}}
                        </mat-option>
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Active.touched || Active.dirty ) && Active.errors">
                            <span *ngIf="Active.errors?.['required']">please enter Status</span>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="row justify-content-center mt-3">
                    <button type="submit" class="btn btn-sm px-4 py-2  w-auto  text-white" [style.background-color]="'#124265'" [disabled]="createDepartmentDetails.invalid">Create</button>
                    <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto  btn-danger">Reset</button>
                    <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto text-white btn-secondary" onclick="history.back()">Back</button>
                </div> 
            </div>
        </form>
    </div>
</section>
