<div class="card-header example-full-width  backg">
  <h4 class="card-title"><mat-icon>library_books</mat-icon>&nbsp;&nbsp;Final Selected Candidate</h4>
</div>

<mat-dialog-content class="mat-typography mt-3">
  <form [formGroup]="interviewSchedules">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Candidate Unique Number</th>
          <th scope="col">Candidate</th>
          <th scope="col">Current Round</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{candidateUniqueNumber}}</td>
          <td>{{candidateFullName}}</td>
          <td>{{roundType}}</td>
          <td><button mat-icon-button color="warn"
              (click)="selectedCandidate(scheduledInterview.scheduledInterviewId, scheduledInterview.roundDetails)"><mat-icon>arrow_forward_ios</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-form-field appearance="outline">
      <mat-label>Communication Rating(1/10)</mat-label>
      <input matInput name="communicationRating" formControlName="communicationRating"
        [(ngModel)]="scheduledInterview.communicationRating" pattern="^\d+(\.\d{1,2})?$">
      <!-- <mat-icon matSuffix>description</mat-icon> -->
      <mat-hint style="color: red;" *ngIf="(CommunicationRating.touched || CommunicationRating.dirty ) &&
        CommunicationRating.errors">
        <span *ngIf="CommunicationRating.errors?.['required']">please mention the communication rating between 1 to 10</span>
        <span *ngIf="CommunicationRating.errors?.['pattern']">Please enter a valid number with up to 2 decimal places</span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ms-3" *ngIf="roundType =='HR'">
      <mat-label>Ready to Relocate</mat-label>
      <mat-select name="readyToRelocate" formControlName="readyToRelocate"
        [(ngModel)]="scheduledInterview.readyToRelocate">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
      <!-- <mat-icon matSuffix>location_on</mat-icon> -->
      <mat-hint style="color: red;"
        *ngIf="(ReadyToRelocate.touched || ReadyToRelocate.dirty ) && ReadyToRelocate.errors">
        <span *ngIf="ReadyToRelocate.errors?.['required']">please enter the ready to relocate</span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="ms-3" *ngIf="roundType !='HR'">
      <mat-label>Profile Relevance (0/100)%</mat-label>
      <input matInput name="profileRelevance" formControlName="profileRelevance"
        [(ngModel)]="scheduledInterview.profileRelevance" pattern="^\d+(\.\d{1,2})?$">
      <!-- <mat-icon matSuffix>description</mat-icon> -->
      <mat-hint style="color: red;"
        *ngIf="(ProfileRelevance.touched || ProfileRelevance.dirty ) && ProfileRelevance.errors">
        <span *ngIf="ProfileRelevance.errors?.['required']">please mention the profile relevance</span>
        <span *ngIf="ProfileRelevance.errors?.['pattern']">Please enter a valid number with up to 2 decimal places</span>
      </mat-hint>
    </mat-form-field>


    <div class="row mt-2" *ngIf="roundType =='HR'">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Agreement</mat-label>
          <mat-select name="agreement" formControlName="agreement" [(ngModel)]="scheduledInterview.agreement">
            <mat-option [value]="ar.agreementId" *ngFor="let ar of agreementList">{{ ar.agreement}}</mat-option> 
          </mat-select>
          <mat-hint style="color: red;" *ngIf="(Agreement.touched || Agreement.dirty ) && Agreement.errors">
            <span *ngIf="Agreement.errors?.['required']">please mention the Agreement</span>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-start">

      <mat-form-field appearance="outline" class="mt-3" style="width:550px;">
        <mat-label>Feedback</mat-label>
        <textarea matInput name="constructiveFeedback" formControlName="constructiveFeedback"
          [(ngModel)]="scheduledInterview.constructiveFeedback"></textarea>
        <!-- <mat-icon matSuffix>view_list</mat-icon> -->
        <mat-hint style="color: red;"
          *ngIf="(ConstructiveFeedback.touched || ConstructiveFeedback.dirty ) && ConstructiveFeedback.errors">
          <span *ngIf="ConstructiveFeedback.errors?.['required']">please mention the Feedback</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>