
.sub-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .card-header {
      padding: 10px;
      border-radius: 3px;
    }
    
    .card-title {
      color: #FFF;
      font-size: 16px;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-weight: 400;
    
    
    }
    .backg {
      background: linear-gradient(60deg, #1e6aa0, #124265);
      /* background: linear-gradient(60deg, #26c6da,#00acc1); */
    
      box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
    
    }
      
    .example-full-width {
      width: auto;
    }
  
  