<div class="card-header example-full-width  backg">
    <h4 class="card-title"><mat-icon>library_books</mat-icon>&nbsp;&nbsp;Update candidate joining date</h4>
</div>
<mat-dialog-content class="mat-typography mt-5 ">
    <form>
        <div class="row justify-content-start">
           <div class="col-md-6  sub-container">
               <mat-form-field appearance="outline" class="ms-3">
                   <mat-label>Candidate Unique Number</mat-label>
                   <input matInput name="candidateUniqueNumber" value='{{candidateUniqueNumber}}' readonly>
                   <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>  
                
                <mat-form-field appearance="outline" class="ms-3">
                    <mat-label>Joining Date:MM/DD/YYYY</mat-label>
                    <input matInput [matDatepicker]="picker"   name="joiningDate"  [(ngModel)]="candidate.joiningDate">
                    <mat-datepicker-toggle matSuffix [for]="picker">today</mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
            </div>
            <div class="col-md-6  sub-container">
                <mat-form-field appearance="outline" class="ms-3">
                    <mat-label>Candidate Full Name</mat-label>
                    <input matInput name="candidateFullName" value='{{candidateFullName}}' readonly>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </div>
           
        </div>

        <div class="row justify-content-start" >
            <div class="col-md-10  sub-container" *ngIf="displayfeedback">
                <mat-form-field appearance="outline" class="ms-3">
                    <mat-label>Reason for not joining</mat-label>
                    <textarea matInput name="joiningFeedback"   [(ngModel)]="candidate.joiningFeedback"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-2  sub-container">
                <button (click)="updateJoiningDate()" mat-icon-button   mat-dialog-close color="warn" class="ms-3"><mat-icon>arrow_forward_ios</mat-icon></button>
            </div>
        </div>
                
    </form>
</mat-dialog-content>