table {
    width: 100%;
    
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-row:hover {
    background-color: whitesmoke;
  }

.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:nth-child(odd){
    background-color: whitesmoke;
}
  td, th {
    width: 10%;
  }
  th{
    color: #124265;
    font-size: 15px;
  }

  tbody, td, td a tfoot, th, thead, tr {
    white-space: nowrap; 
   }

   table td, table th{
    padding: 4px;
  }