h3{
     font-weight: 500;
    color: #124265;
    font-family: "Poppins", sans-serif;
 
    
  }

  p{
    
   font-family: "Poppins", sans-serif;
    
    }
  .fon{
    color: #124265;
  }
  label{
    color:rgb(65, 131, 218);
    font-family:cursive;
  }

