.backg {
  background: linear-gradient(60deg, #1e6aa0, #124265);
  /* background: linear-gradient(60deg, #26c6da,#00acc1); */

  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);

}

.backg1 {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);

}


.backg2 {

  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);

}

.backg3 {

  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);

}

.card-header {
  padding: 15px;
  margin-top: -10px;
  border-radius: 3px;
}

.card-title {
  color: #FFF;
  font-size: 16px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;


}

.card-category {
  font-size: 13px;
  color: white;

}

table {
  table-layout: auto;
  width: 100%;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color: whitesmoke;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: whitesmoke;
}

th {
  color: #124265;
  font-size: 15px;

}

.mat-icon {
  font-size: 30px;
  line-height: 40px;
  height: 45px;

}

.crd {
  font-size: xx-large;
  color: #FFF;
  text-align: end;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.icon-display {
  font-size: 24px;
  text-align: justify;
}