<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
         
        <div class="row mt-3 justify-content-start">
            <h1 class="page-title text-center ">Group Master</h1> 
            
            <div class="col-md-6">
                <button mat-raised-button [routerLink]="['/group-details']" [style.background-color]="'#124265'" class="text-white">Create Group</button>
            </div>
            <div class="col-md-6 text-end">
                <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort [style]="{'background':'transparent'}">

                <!-- Department Column -->
                <ng-container matColumnDef="groupdesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Group Description</th>
                <td mat-cell *matCellDef="let row"> {{row.groupdesc}} </td>
                </ng-container>

              

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row text-center" *matNoDataRow>
                <td class="mat-cell" colspan="10">No data matching the filter "{{input.value}}"</td>
                </tr>

                  <!-- Edit and Delete Column. -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                    <!-- <button (click) = "updateGroupmasterDetails(row.groupCode)" mat-icon-button style="color: #124265;">
                    <mat-icon matSuffix>edit</mat-icon>
                    </button> -->
                    <div *ngIf="row.active=='Y'" class="gap-2">
                        <mat-icon aria-hidden="false" style="font-size: 3vh; color:#124567;" 
                        (click)="updateGroupmasterDetails(row.groupCode)" aria-label="Active" fontIcon="home" matTooltip="Edit Group Descripion"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="Active"
                        class="text-success ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                        </div>
                        <div *ngIf="row.active=='N'">
                        <mat-icon aria-hidden="false" style="font-size: 3vh; color:#124567;" 
                        (click)="updateGroupmasterDetails(row.groupCode)" aria-label="Active" fontIcon="home"  matTooltip="Edit Group Descripion"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="In-Active"
                        class="text-danger ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                    </div>
                   
                    </td>
                </ng-container >
            </table>

            <mat-paginator [pageSizeOptions]="[5,10]" aria-label="select page"></mat-paginator>
        </div>
    </div>
</section>


