<section id="hero" class="align-items-center">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row mt-3 justify-content-start">
            <h1 class="page-title text-center">Candidate Details</h1>  
            <div class="col-md-6">
                <button *ngIf="displaymodel" mat-raised-button [routerLink]="['/candidate-profile']" class="text-white" [style.background-color]="'#124265'">Create Candidate</button>
            </div>
            <div class="col-md-6 text-end">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="example-container table-responsive">
            <table mat-table [dataSource]="dataSource" matSort [style]="{'background':'transparent'}">
                
                <ng-container matColumnDef="candidateUniqueNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Unique No</th>
                    <td mat-cell *matCellDef="let row"> {{row.candidateUniqueNumber}} </td>
                    </ng-container>

                <ng-container matColumnDef="candidateFullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.candidateFullName}}</td>
                </ng-container>

                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</th>
                    <td mat-cell *matCellDef="let row"> {{row.dateOfBirth | date:'mediumDate' }} </td>
                </ng-container>

                <ng-container matColumnDef="profilePreference1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile Preference1</th>
                    <td mat-cell *matCellDef="let row"> {{row.profilePreference1}} </td>
                </ng-container>

                <ng-container matColumnDef="profilePreference2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile Preference2</th>
                    <td mat-cell *matCellDef="let row"> {{row.profilePreference2}} </td>
                </ng-container>

                <ng-container matColumnDef="contactNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
                    <td mat-cell *matCellDef="let row"> {{row.contactNumber}} </td>
                </ng-container>
            
                <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
                <td mat-cell *matCellDef="let row"> {{row.emailAddress}} </td>
                </ng-container>

                <ng-container matColumnDef="totalExperience">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Experience</th>
                    <td mat-cell *matCellDef="let row"> {{row.totalExperience}} {{ row.totalExperience === 0 ? 'Year' : row.totalExperience === 1 ? 'Year' : 'Years' }}</td>
                </ng-container>

                <ng-container matColumnDef="relevantExperience">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Relevant Experience</th>
                    <td mat-cell *matCellDef="let row"> {{row.relevantExperience}} {{ row.relevantExperience === 0 ? 'Year' : row.relevantExperience === 1 ? 'Year' : 'Years' }}</td>
                </ng-container>

            
                <ng-container matColumnDef="currentSalary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Salary</th>
                    <td mat-cell *matCellDef="let row"> {{row.currentSalary | number :'1.0-2'}}</td>
                </ng-container>

                <ng-container matColumnDef="expectedSalary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Expected Salary</th>
                    <td mat-cell  *matCellDef="let row"> {{row.expectedSalary |number :'1.0-2'}}</td>
                </ng-container>

                <ng-container matColumnDef="KeySkills">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Key Skills</th>
                    <td mat-cell *matCellDef="let row" class="key-cell"> {{row.keySkills}}</td>
                </ng-container>

                <ng-container matColumnDef="currentLocation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Location</th>
                    <td mat-cell *matCellDef="let row"> {{row.currentLocation}}</td>
                </ng-container>

                <ng-container matColumnDef="locationPreference">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Location Preference</th>
                    <td mat-cell *matCellDef="let row"> {{row.locationPreference}}</td>
                </ng-container>

                <ng-container matColumnDef="noticePeriod">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Notice Period</th>
                    <td mat-cell *matCellDef="let row"> {{row.noticePeriod}} Days</td>
                </ng-container>

                <ng-container matColumnDef="readyToNegotiate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ready To Negotiate</th>
                    <td mat-cell *matCellDef="let row"> {{row.readyToNegotiate}}</td>
                </ng-container>

                <ng-container matColumnDef="roundStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let row"> {{row.roundStatus}}</td>
                </ng-container>
                
                <ng-container matColumnDef="joiningDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date</th>
                    <td mat-cell *matCellDef="let row"> {{row.joiningDate | date:'mediumDate' }}</td>
                </ng-container>

                <!-- <ng-container matColumnDef="candidateResume">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Resume</th>
                    <td mat-cell *matCellDef="let row"><a href='{{row.candidateResume}}?download=true'  target='_blank'><mat-icon matSuffix>attach_file </mat-icon></a></td>
                </ng-container> -->

                <ng-container matColumnDef="candidateResume">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Resume</th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-icon-button  (click)="downloadFile(row.candidateResume)" color="primary">
                        <mat-icon matSuffix>attach_file</mat-icon>
                      </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="feedback">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Feedback</th>
                <td mat-cell *matCellDef="let row">
                    <button (click) = "feedbackList(row.scheduledInterviewId,row.candidateUniqueNumber, row.candidateFullName)" mat-icon-button  color="primary" >
                    <mat-icon matSuffix>chat</mat-icon>
                    </button>
                </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngStyle]="{'background-color':getCellColor(row.roundStatus, row.joiningFeedback)}"></tr>
                
                <!-- [ngClass]="{'badge2': getCellColor(row.candidateUniqueNumber)}">
                </tr> -->

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="21">No data matching the filter "{{input.value}}"</td>
                </tr>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                    <button  (click) = "updateCandidateDetails(row.candidateNo)"  mat-icon-button style="color: #124265;">
                    <mat-icon matSuffix>edit</mat-icon>
                    </button>
    
                    <mat-icon aria-hidden="false" style="color: green; "
                    (click) = "editCandidateJoiningDate(row.scheduledInterviewId,row.candidateUniqueNumber, row.candidateFullName, row.joiningDate , row.joiningFeedback)" aria-label="Active" fontIcon="home" matTooltip="Edit Joining Date"
                    class="text-btn">edit_attributes</mat-icon>
                    <!-- <button (click) = "editCandidateJoiningDate(row.scheduledInterviewId,row.candidateUniqueNumber, row.candidateFullName, row.joiningDate , row.joiningFeedback)" mat-icon-button style="color: green; " >
                        <mat-icon matSuffix>edit_attributes</mat-icon>
                         &nbsp; &nbsp;
                    </button> -->
                  
                    </td>
                </ng-container>
            </table>
            <mat-paginator 
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            aria-label="Select page"></mat-paginator>
        </div> 
        <div *ngIf="selectRow">
            <h3>{{selectRow.candidateUniqueNumber}}</h3>
        </div>  
    </div>

</section>

