<header id="header" *ngIf="displaymenu">
    <div class="container d-flex align-items-center justify-content-between" id="myheader">

        <a routerLink="home" class="logo"><img src="./assets/assets/img/logo.png" alt="" class="img-fluid"></a>
        
        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a routerLink="home"><mat-icon>home</mat-icon>Home<i class=""></i></a></li>
                <li *ngFor="let top of programList"  class="dropdown"> <a style="color: #124265;"><mat-icon>space_dashboard</mat-icon> &nbsp; {{top.programDescription}} <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li *ngFor="let mid of top.programLIst" [ngClass]="{'dropdown' : mid.programLIst.length!=0}">  
                        <a routerLink="/{{mid.programName}}" *ngIf="mid.programLIst.length==0" >{{mid.programDescription}}</a> 
                        <a href="#" *ngIf="mid.programLIst.length!=0"><span>{{mid.programDescription}}</span> <i class="bi bi-chevron-right"></i></a>
                        <ul *ngIf="mid.programLIst.length!=0">Candidate
                          <li *ngFor="let low of mid.programLIst" > <a  routerLink="/{{low.programName}}" >{{low.programDescription}} </a>  </li>
                        </ul>
                      </li>
                    </ul>
                  </li>                
                <li><a (click)="logout()" [style.color]="'#124265'">Logout &nbsp;<mat-icon >exit_to_app</mat-icon></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle" ></i>
        </nav>
    </div> 
  </header>
<router-outlet></router-outlet>