<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row mt-2">
            <div class="col">
                <h1 class="page-title text-center">Candidate Information</h1>
                <form [formGroup]= "registerCandidate" (ngSubmit)="SaveCandidate()">
                    <div class="row justify-content-end">
                        <div class="col-md-6 sub-container form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Candidate Full Name</mat-label>
                                <input matInput  name="candidateFullName" formControlName="fullName" [(ngModel)]="candidate.candidateFullName">
                                <mat-icon matSuffix>person</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(CandidateFullName.touched || CandidateFullName.dirty ) &&
                                CandidateFullName.errors">
                                <span *ngIf="CandidateFullName.errors?.['required']">please enter Candidate Full Name</span>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class=" col-md-4 sub-container profile-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Date Of Birth</mat-label>
                                <input matInput [matDatepicker]="picker"  name="dateOfBirth" formControlName="dateOfBirth" [(ngModel)]="candidate.dateOfBirth">
                                <mat-datepicker-toggle matSuffix [for]="picker">today</mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint style="color: red;" *ngIf="(DateOfBirth.touched || DateOfBirth.dirty ) && DateOfBirth.errors">
                                    <span *ngIf="DateOfBirth.errors?.['required']">please select Date Of Birth</span>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class=" col-md-4 sub-container profile-container">
                            <div style="text-align:center">
                                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                                <div><img [src]="url" *ngIf="url"></div>
                                <p>
                                    <label class="text-secondary">Image :&nbsp;</label>
                                    <input type="file" (change)="selectFile($event)">
                                    <input type="hidden" name="candidateImage" formControlName="candidateImage"   [(ngModel)]="candidate.candidateImage" />
                                </p>
                                <!-- <input style="display: none" type="file" (change)="selectFile($event)" #hiddenfileinput>

                               <button (click)="hiddenfileinput.click()"  class="waves-effect waves-light btn btn-success"><mat-icon matSuffix>add_photo_alternate</mat-icon></button> -->
                            </div>
                        </div>
                       
                        <div class="col-md-4  sub-container form-group">

                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput name="emailAddress" formControlName="email"  [(ngModel)]="candidate.emailAddress"  >
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(EmailAddress.touched || EmailAddress.dirty ) &&
                                EmailAddress.errors">
                                <span *ngIf="EmailAddress.errors?.['required']">please enter email</span>
                                </mat-hint>
                            </mat-form-field>
                            
                            <mat-form-field appearance="outline">
                                <mat-label>Current Salary </mat-label>
                                <input matInput type="number"  name="currentSalary" formControlName="currentsalary" [(ngModel)]="candidate.currentSalary">
                                <mat-icon matSuffix>payment</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(CurrentSalary.touched || CurrentSalary.dirty ) &&
                                CurrentSalary.errors">
                                <span *ngIf="CurrentSalary.errors?.['required']">please enter Current Salary</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Current Location </mat-label>
                                <input matInput  name="currentLocation" formControlName="currentlocation" [(ngModel)]="candidate.currentLocation">
                                <mat-icon matSuffix>location_on</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(CurrentLocation.touched || CurrentLocation.dirty ) &&
                                CurrentLocation.errors">
                                <span *ngIf="CurrentLocation.errors?.['required']">please enter location</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Relevant Experience </mat-label>
                                <input matInput type="number" name="relevantExperience" formControlName="relevantexperience" [(ngModel)]="candidate.relevantExperience" pattern="^\d+(\.\d{1,2})?$">
                                <mat-icon matSuffix>note_add</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(RelevantExperience.touched || RelevantExperience.dirty ) &&
                                RelevantExperience.errors">
                                <span *ngIf="RelevantExperience.errors?.['minlength']">Please enter a Relevant Experience of at least 5</span>
                                <span *ngIf="RelevantExperience.errors?.['pattern']">Please enter a valid number with up to 2 decimal places</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Profile Preference1</mat-label>
                                <input matInput type="text"  name="profilePreference1" formControlName="profilePreference1" [(ngModel)]="candidate.profilePreference1">
                                <mat-icon matSuffix>desktop_mac</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(ProfilePreference1.touched || ProfilePreference1.dirty ) &&
                                ProfilePreference1.errors">
                                <span *ngIf="ProfilePreference1.errors?.['required']">please enter Profile Preference1</span>
                                <span *ngIf="ProfilePreference1.errors?.['pattern']">Number value is not acceptable</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Ready To Negotiate </mat-label>
                                <mat-select name="readyToNegotiate" formControlName="readyToNegotiate" [(ngModel)]="candidate.readyToNegotiate">
                                <mat-option value="Yes">Yes</mat-option>
                                <mat-option value="No">No</mat-option>
                              </mat-select>
                                <mat-icon matSuffix>supervisor_account</mat-icon>
                            </mat-form-field>

                         
                             
                              
                            
                            <mat-form-field appearance="outline">
                                <mat-label>Resume file size only 2MB*</mat-label>
                                <input matInput disabled>
                                <input   (change)="selectResume($event)" #fileInput type="file" id="file" accept="application/pdf">
                                <input type="hidden" name="candidateResume" formControlName="candidateResume"   [(ngModel)]="candidate.candidateResume" />
                                <mat-icon matSuffix>attach_file</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(CandidateResume.touched || CandidateResume.dirty ) &&
                                CandidateResume.errors">
                                <span *ngIf="CandidateResume.errors?.['required']">please enter Candidate Resume</span>
                                </mat-hint>
                            </mat-form-field>

                        </div>
                        <div class="col-md-4  sub-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Contact Number </mat-label>
                                <input matInput type="number" name="contactNumber" formControlName="contactnumber" [(ngModel)]="candidate.contactNumber"   pattern="[0-9]{10}" minlength="10"  required>
                                <mat-icon matSuffix> phone</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(ContactNumber.touched || ContactNumber.dirty ) &&
                                ContactNumber.errors">
                                <span *ngIf="ContactNumber.errors?.['pattern'] ">please enter 10 digits number only</span>
                                <span *ngIf="ContactNumber.errors?.['required']">please enter contact number</span>
                                <span *ngIf="(ContactNumber.errors?.['minlength']) ">Contact number must be 10 digits only </span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Expected Salary </mat-label>
                                <input matInput type="number" name="expectedSalary" formControlName="expectedsalary" [(ngModel)]="candidate.expectedSalary">
                                <mat-icon matSuffix>payment</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(ExpectedSalary.touched || ExpectedSalary.dirty ) &&
                                ExpectedSalary.errors">
                                <span *ngIf="ExpectedSalary.errors?.['required']">please enter Expected Salary</span>
                                </mat-hint>
                            </mat-form-field>
                           

                            <mat-form-field appearance="outline">
                                <mat-label>Location Preference </mat-label>
                                <input matInput  name="locationPreference" formControlName="locationpreference" [(ngModel)]="candidate.locationPreference">
                                <mat-icon matSuffix>location_on</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(LocationPreference.touched || LocationPreference.dirty ) && LocationPreference.errors">
                                <span *ngIf="LocationPreference.errors?.['required']">please enter Location Preference</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Total Experience</mat-label>
                                <input matInput type="number" name="totalExperience" formControlName="totalexperience" [(ngModel)]="candidate.totalExperience" pattern="^\d+(\.\d{1,2})?$">
                                <mat-icon matSuffix>note_add</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(TotalExperience.touched || TotalExperience.dirty) && TotalExperience.errors">
                                    <span *ngIf="TotalExperience.errors?.['mainlength']">Please enter a Total Experience of at least 5</span>
                                    <span *ngIf="TotalExperience.errors?.['pattern']">Please enter a valid number with up to 2 decimal places</span>
                                    <span *ngIf="registerCandidate.hasError('relExpGtr')">Total Experience must be greater than or equal to Relevant Experience</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Profile Preference2</mat-label>
                                <input matInput type="text"  name="profilePreference2" formControlName="profilePreference2" [(ngModel)]="candidate.profilePreference2">
                                <mat-icon matSuffix>desktop_mac</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(ProfilePreference2.touched || ProfilePreference2.dirty ) &&
                                ProfilePreference2.errors">
                                <span *ngIf="ProfilePreference2.errors?.['pattern']">Number value is not acceptable</span>
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Notice Period</mat-label>
                                <input matInput name="noticePeriod" formControlName="noticePeriod"  [(ngModel)]="candidate.noticePeriod">
                                <mat-icon matSuffix>view_list</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(NoticePeriod.touched || NoticePeriod.dirty ) &&
                                NoticePeriod.errors">
                                <span *ngIf="NoticePeriod.errors?.['pattern']">Please enter a valid number.</span>
                                </mat-hint>
                            </mat-form-field>

                            
                            <mat-form-field appearance="outline">
                                <mat-label>Key Skills</mat-label>
                                <textarea matInput name="keySkills" formControlName="keySkills"  [(ngModel)]="candidate.keySkills"></textarea>
                                <mat-icon matSuffix>view_list</mat-icon>
                                <mat-hint style="color: red;" *ngIf="(KeySkills.touched || KeySkills.dirty ) &&
                                KeySkills.errors">
                                <span *ngIf="KeySkills.errors?.['required']">please mention the Key Skills</span>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-end mt-3">
                            <button type="submit" class="btn btn-sm px-4 py-2  w-auto text-white" [style.background-color]="'#124265'" [disabled]="isProcess">Create
                                <span class="mt-2" *ngIf="isProcess" class="spinner-border spinner-border-sm text-white "></span>
                            </button>
                            <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto  btn-danger">Reset</button>
                            <button type="button" class="btn btn-sm px-4 py-2  ms-2 w-auto text-white btn-secondary"  onclick="history.back()">Back</button>
                        </div>
                    </div> 
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</section>