
<section id="hero" class=" align-items-center">
    <div class="container mt-5"  data-aos="fade-up" data-aos-delay="100">
        <form [formGroup]="interviewInfomation"(submit)="saveInterview()">
            <div class="row  justify-content-center">
                <h1 class="page-title text-center">Mode Information</h1>
                <div class="col-md-4 sub-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Interview Mode type</mat-label>
                        <mat-select  name="modeNo" formControlName="modeno" [(ngModel)]="interview.modeNo" (selectionChange)="videoLinkDisplay()">
                            <mat-option value="Face to Face">Face to Face</mat-option>
                            <mat-option value=" Telephonic"> Telephonic</mat-option>
                            <mat-option value="Video">Video</mat-option>
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Mode.touched || Mode.dirty ) && Mode.errors">
                            <span *ngIf="Mode.errors?.['required']">please select Mode</span>
                        </mat-hint>
                        </mat-form-field>
                    <div *ngIf="displayVideolink" class="sub-container">
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Video Link Details</mat-label>
                            <textarea matInput name="videoLinkDetails" formControlName="videolinkdetails" [(ngModel)]="interview.videoLinkDetails"></textarea>
                            <mat-icon matSuffix> insert_link</mat-icon>
                            <mat-hint style="color: red;" *ngIf="(VideoLink.touched || VideoLink.dirty) && VideoLink.errors">
                                <span *ngIf="VideoLink.errors?.['required']">please enter VideoLink</span>
                            </mat-hint>
                        </mat-form-field> -->
                    </div>
                </div>    
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-sm px-4 py-2  w-auto  btn-secondary">Create</button>
                    <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto  btn-danger">Reset</button>
                    <button type="reset" class="btn btn-sm px-4 py-2  ms-2 w-auto text-white" [style.background-color]="'#124265'" onclick="history.back()">Back</button>
                </div>  
            </div>    
        </form>
            
    </div>
</section>