
<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form [formGroup]="updateDepartmentRound" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center mt-5">
                <h1 class="page-title text-center">Selection Criteria</h1>
                <div class="col-md-4 sub-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Department</mat-label>
                        <mat-select  name="departmentId" formControlName="departmentId" [(ngModel)]="department.departmentId">
                        <mat-option [value]="item.departmentId" *ngFor="let item of departmentlist">{{item.department}}</mat-option> 
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Department.touched || Department.dirty ) && Department.errors">
                            <span *ngIf="Department.errors?.['required']">please select Department</span>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Round</mat-label>
                        <mat-select name="roundNo" formControlName="roundNo"  [(ngModel)]="department.roundNoList" multiple>
                          <mat-select-trigger>
                            {{RoundNo.value?.[0] || ''}}
                            <span *ngIf="(RoundNo.value?.length || 0) > 1" class="example-additional-selection">
                              +{{(RoundNo.value?.length || 0) - 1}} {{RoundNo.value?.length === 2 ? 'other' : 'others'}}
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let rounds of roundList" [value]="rounds.roundId">{{rounds.roundName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    

                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="department.active" name="active" formControlName="active">
                        <mat-option *ngFor="let e of status" [value]="e.value">{{e.viewValue}}
                        </mat-option>
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Active.touched || Active.dirty ) && Active.errors">
                            <span *ngIf="Active.errors?.['required']">please enter Status</span>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 sub-container">
                   
                    <mat-form-field appearance="outline">
                        <mat-label>Profile</mat-label>
                        <mat-select  name="profileId" formControlName="profileId" [(ngModel)]="department.profileId">
                        <mat-option [value]="item.profileId" *ngFor="let item of profile">{{item.profile}}</mat-option> 
                        </mat-select>
                        <mat-hint style="color: red;" *ngIf="(Profile.touched || Profile.dirty ) && Profile.errors">
                            <span *ngIf="Profile.errors?.['required']">please select Profile</span>
                        </mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Interview Length(mins)</mat-label>
                        <input matInput name="interviewLengthMins" formControlName="interviewLengthMins" [(ngModel)]="department.interviewLengthMins">
                        <mat-icon matSuffix>access_time</mat-icon>
                        <mat-hint style="color: red;" *ngIf="(InterviewLength.touched ||
                            InterviewLength.dirty ) &&
                            InterviewLength.errors">
                            <span *ngIf="InterviewLength.errors?.['required']">
                                Interview Length is required!
                            </span>
                            <span *ngIf="InterviewLength.errors?.['maxLength']">
                            Interview Length is too long!
                            </span>
                            <span *ngIf="InterviewLength.errors?.['pattern']">
                            Interview Length must be an integers only!
                            </span>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-sm px-4 py-2  w-auto text-white" [style.background-color]="'#124265'">Update</button>
                    <button type="Back" class="btn btn-sm px-4 py-2  ms-2 w-auto  btn-secondary"  onclick="history.back()">Back</button>
                </div> 
            </div>
        </form>
    </div>
</section> 
