<section  id="hero" class="align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
               
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center py-4">
                            <img src="./assets/assets/img/logo.png" alt="" height="80px" width="160px">
                            <span class="d-none d-lg-block"></span>
                        </div>

                        <div class="pt-4 pb-2">
                            <h3 class="card-title text-center">Change Password</h3>
                        </div>
                        <form [formGroup]= "changePass" (ngSubmit)="changePassword()">
                            <div class="row text-center">
                                <div class="col-12">
                                    <mat-form-field appearance="outline">
                                        <mat-icon matSuffix>lock</mat-icon>
                                        <mat-label>password</mat-label>
                                            <input matInput type="password" name="password" formControlName="password" for [(ngModel)]="login.password">
                                            <mat-hint style="color: red;" *ngIf="(Password.touched || Password.dirty ) &&
                                            Password.errors">
                                            <span *ngIf="Password.errors?.['required']">please enter password</span>
                                            </mat-hint>
                                        </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-success btn-sm" type="submit" [style.width]="'70%'">Change Password </button>
                                </div>
                                <div class="col-12 mt-2">
                                    <p class="small mb-0">have account? <a [routerLink]="['/login']">Login to account</a></p>
                                </div>
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
