<section id="hero" class="align-items-center">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h1 class="page-title text-center mt-3">Selection Criteria</h1>  
        <div class="row mt-3 justify-content-start">
            
            <div class="col-md-6">
                <button mat-raised-button [routerLink]="['/department-round-information']" class="text-white" [style.background-color]="'#124265'"> Create Selection Criteria</button>
            </div>
            <div class="col-md-6 text-end">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort [style]="{'background':'transparent'}">
                
                <ng-container matColumnDef="departmentId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                    <td mat-cell *matCellDef="let row"> {{row.department}}</td>
                </ng-container>

                <ng-container matColumnDef="profileId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
                    <td mat-cell *matCellDef="let row"> {{row.profile}}</td>
                </ng-container>

                <ng-container matColumnDef="roundNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Round Type</th>
                    <td mat-cell *matCellDef="let row"> {{row.roundNo}}</td>
                </ng-container>

                <ng-container matColumnDef="interviewLengthMins">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Interview Length(mins)</th>
                    <td mat-cell *matCellDef="let row"> {{row.interviewLengthMins}}.mins</td>
                    </ng-container>
            

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">   
                    <div *ngIf="row.active=='Y'" class="gap-2">
                        <mat-icon aria-hidden="false" style="font-size: 3vh;" 
                        (click)="updateDepartmentRoundInfo(row.itemNo)" aria-label="Active" fontIcon="home" matTooltip="Edit Selection Criteria"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="Active"
                        class="text-success ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                        </div>
                        <div *ngIf="row.active=='N'">
                        <mat-icon aria-hidden="false" style="font-size: 3vh;"
                        (click)="updateDepartmentRoundInfo(row.itemNo)" aria-label="Active" fontIcon="home" matTooltip="Edit Selection Criteria"
                        class="text-btn">edit</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Active" fontIcon="home" matTooltip="In-Active"
                        class="text-danger ms-2 " style="font-size: 2.8vh;">circle</mat-icon>
                    </div>
                    </td>
                </ng-container >
            </table>
            <mat-paginator 
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            [pageIndex]="pageIndex"
            aria-label="Select page"></mat-paginator>
         </div>
    </div>
</section> 